/************
rainbow animation
************/
.solar-title .yoga {
  height: 59vh;
  position: relative;
  top: -325px;
  right: -10px; }

.solar-gradient {
  background: linear-gradient(270deg, #2c2500, #5f5209, #D3A600, #D3A600, #5f5209, #2c2500);
  background-size: 1200% 1200%;
  -webkit-animation: solar 30s ease infinite;
  -moz-animation: solar 30s ease infinite;
  animation: solar 30s ease infinite;
  padding: 0 100px; }

@-webkit-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.solar-symptoms {
  background: url(./Images/solarPFlower.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .solar-symptoms .balanced {
    background: rgba(223, 191, 22, 0.4); }
  .solar-symptoms .unbalanced {
    background: rgba(223, 191, 22, 0.4); }

.solar-guidance .guidance-title {
  background: linear-gradient(270deg, #2c2500, #5f5209, #D3A600, #D3A600, #5f5209, #2c2500);
  background-size: 1200% 1200%;
  -webkit-animation: solar 30s ease infinite;
  -moz-animation: solar 30s ease infinite;
  animation: solar 30s ease infinite; }

@-webkit-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
