/************
rainbow animation
************/
.solar-gradient {
  background: linear-gradient(270deg, #050400, #4c4000, #a18a11, #a18a11, #4c4000, #050400);
  background-size: 1200% 1200%;
  -webkit-animation: solar 30s ease infinite;
  -moz-animation: solar 30s ease infinite;
  animation: solar 30s ease infinite;
  padding: 0 100px; }

@-webkit-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
