/************
rainbow animation
************/
.solar-gradient {
  background: linear-gradient(270deg, #120f00, #2c2500, #5f5209, #5f5209, #2c2500, #120f00);
  background-size: 1200% 1200%;
  -webkit-animation: solar 30s ease infinite;
  -moz-animation: solar 30s ease infinite;
  animation: solar 30s ease infinite;
  padding: 0 100px; }

@-webkit-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.solar-symptoms .balanced {
  background: rgba(223, 191, 22, 0.4); }

.solar-symptoms .unbalanced {
  background: rgba(223, 191, 22, 0.4); }

.solar-guidance .guidance-title {
  background: linear-gradient(270deg, #120f00, #2c2500, #5f5209, #5f5209, #2c2500, #120f00);
  background-size: 1200% 1200%;
  -webkit-animation: solar 30s ease infinite;
  -moz-animation: solar 30s ease infinite;
  animation: solar 30s ease infinite; }

@-webkit-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
