@import '../../globalVariables.scss';

.solar-gradient {
    background: linear-gradient(270deg, #2c2500, #5f5209, #D3A600, #D3A600, #5f5209, #2c2500);
    background-size: 1200% 1200%;

    -webkit-animation: solar 30s ease infinite;
    -moz-animation: solar 30s ease infinite;
    animation: solar 30s ease infinite;

    @-webkit-keyframes solar {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes solar {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes solar { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }


    padding: 0 100px;
}

.solar-symptoms {
    background: url(./Images/symptomsSolar.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    .balanced {
        background: $Osolar;
    }

    .unbalanced {
        background: $Osolar;
    }
}

.solar-guidance {
    .guidance-title {
        background: linear-gradient(270deg, #2c2500, #5f5209, #D3A600, #D3A600, #5f5209, #2c2500);
        background-size: 1200% 1200%;

        -webkit-animation: solar 30s ease infinite;
        -moz-animation: solar 30s ease infinite;
        animation: solar 30s ease infinite;

        @-webkit-keyframes solar {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes solar {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes solar { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
    }
}