@import '../../globalVariables.scss';


.crown-container {
    height: 100vh;

    .home-title {
        background: url(./Images/pageBackground.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 55vh;
        width: 100%;
        padding-top: 30px;
    }


    .description {
        padding: 10px;
        color: $about;
        background: black;
        text-align: center;

        h1 {
            padding: 20px 0 0 0;
            margin: 0;
            text-transform: uppercase;
            font-size: 28px;
            letter-spacing: 10px;
        }

        h2 {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 18px;
            letter-spacing: 7px;
            font-family: $font-secondary;
        }

        p {
            padding: 0 20px 20px 20px;
            margin: 0;
            font-family: $font-secondary;
            line-height: 1.5em;
            letter-spacing: 1px;
        }
    }

    .symptoms {
        padding: 10px;
        color: $about;
        background: cornflowerblue;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-content: center;
        
        ul {
            list-style-type: none;
        }
    }
    .guidance {
        padding: 10px;
        color: $about;
        background: forestgreen;
        text-align: center;
    }

    .line-div {
        width: 33%;
        display: inline-block;
    }
}