/************
rainbow animation
************/
.chakra-container {
  height: 100vh; }
  .chakra-container .crown-gradient {
    background: linear-gradient(269deg, #000001, #23012c, #742288, #ac6abc, #ac6abc, #742288, #23012c, #000001);
    background-size: 1600% 1600%;
    -webkit-animation: crown 20s ease infinite;
    -moz-animation: crown 20s ease infinite;
    animation: crown 20s ease infinite; }

@-webkit-keyframes crown {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes crown {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes crown {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  .chakra-container .home-title {
    background: url(./Images/pageBackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    padding-top: 30px; }
  .chakra-container .symptoms {
    color: #f5f6f8;
    background: url(./Images/closedCrown.jpg);
    background-size: cover;
    background-position: top;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: lowercase; }
    .chakra-container .symptoms h1 {
      margin: 0;
      padding: 30px 0 5px 0;
      font-size: 28px; }
    .chakra-container .symptoms ul {
      margin: 0;
      list-style-type: none;
      text-align: center;
      padding: 5px 0;
      letter-spacing: 1px;
      font-family: "Lato", sans-serif;
      line-height: 1.5em; }
    .chakra-container .symptoms hr {
      width: 70%;
      border-top: 1px solid #4C065C; }
    .chakra-container .symptoms .balanced {
      width: 30%;
      height: 50%;
      text-align: center;
      background: rgba(76, 6, 92, 0.4);
      padding-top: 10px; }
    .chakra-container .symptoms .unbalanced {
      width: 30%;
      height: 50%;
      text-align: center;
      background: rgba(76, 6, 92, 0.4); }
  .chakra-container .guidance {
    color: #f5f6f8;
    background: url(./Images/divine.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed; }
    .chakra-container .guidance .black {
      background: rgba(0, 0, 0, 0.5); }
    .chakra-container .guidance .line-div {
      width: 33%;
      display: inline-block; }
    .chakra-container .guidance .guidance-title {
      width: 100%;
      background: black;
      color: #f5f6f8;
      font-size: 22px;
      text-align: center;
      padding: 40px 0; }
      .chakra-container .guidance .guidance-title h1 {
        letter-spacing: 10px; }
      .chakra-container .guidance .guidance-title p {
        letter-spacing: 1px;
        font-family: "Lato", sans-serif;
        font-size: 18px; }
    .chakra-container .guidance .meditation {
      padding-top: 50px;
      padding-bottom: 20px;
      text-align: center;
      letter-spacing: 8px; }
      .chakra-container .guidance .meditation .steps {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 12px;
        padding-top: 90px;
        padding-bottom: 20px; }
        .chakra-container .guidance .meditation .steps div {
          width: 17%;
          font-family: "Lato", sans-serif;
          font-size: 18px;
          text-align: center; }
      .chakra-container .guidance .meditation p {
        padding: 0;
        margin: 0; }
