/************
rainbow animation
************/
.chakra-container {
  height: 100vh; }
  .chakra-container .crown-gradient {
    background: linear-gradient(270deg, #010001, #130018, #32063f, #32063f, #130018, #010001);
    background-size: 1200% 1200%;
    -webkit-animation: thirdEye 30s ease infinite;
    -moz-animation: thirdEye 30s ease infinite;
    animation: thirdEye 30s ease infinite;
    padding: 0 90px; }

@-webkit-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  .chakra-container .home-title {
    background: url(./Images/pageBackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 57vh;
    width: 100%;
    padding-top: 30px; }
  .chakra-container .crown-symptoms {
    background: url(./Images/symptomsCrown.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed; }
    .chakra-container .crown-symptoms .balanced {
      background: rgba(76, 6, 92, 0.4); }
    .chakra-container .crown-symptoms .unbalanced {
      background: rgba(76, 6, 92, 0.4); }
  .chakra-container .crown-guidance .guidance-title {
    background: linear-gradient(270deg, #010001, #130018, #32063f, #32063f, #130018, #010001);
    background-size: 1200% 1200%;
    -webkit-animation: thirdEye 30s ease infinite;
    -moz-animation: thirdEye 30s ease infinite;
    animation: thirdEye 30s ease infinite; }

@-webkit-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
