.crown-container {
  height: 100vh; }
  .crown-container .home-title {
    background: url(./Images/pageBackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 55vh;
    width: 100%;
    padding-top: 30px; }
  .crown-container .description {
    padding: 10px;
    color: #f5f6f8;
    background: black;
    text-align: center; }
    .crown-container .description h1 {
      padding: 20px 0 0 0;
      margin: 0;
      text-transform: uppercase;
      font-size: 28px;
      letter-spacing: 10px; }
    .crown-container .description h2 {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 18px;
      letter-spacing: 7px;
      font-family: "Lato", sans-serif; }
    .crown-container .description p {
      padding: 0 20px 20px 20px;
      margin: 0;
      font-family: "Lato", sans-serif;
      line-height: 1.5em;
      letter-spacing: 1px; }
  .crown-container .symptoms {
    padding: 10px;
    color: #f5f6f8;
    background: url("http://www.mindvalleyacademy.com/hubfs/Blog/MVA%20Blog/Crown_Chakra_Opening.jpg?t=1498138517065");
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-content: center; }
    .crown-container .symptoms ul {
      list-style-type: none; }
  .crown-container .guidance {
    color: #f5f6f8;
    background: forestgreen; }
    .crown-container .guidance .balancing-title {
      width: 100%;
      background: black;
      color: #f5f6f8;
      letter-spacing: 10px;
      font-size: 22px;
      text-align: center;
      padding: 40px 0; }
  .crown-container .line-div {
    width: 33%;
    display: inline-block; }
