@import '../../globalVariables.scss';


.crown-container {
    height: 100vh;
    font-family: $font-secondary;

    .about {
        background: url(./Images/pageBackground.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 81vh;
        width: 100%;
        padding-top: 30px;
        padding-left: 30px;

        .about-words {
            width: 15%;
            height: 30%;
            color: $Oabout;
            position: relative;

            h1 {
                padding: 0;
                margin: 0;
                text-transform: uppercase;
            }
        }

        // img {
        //     width: 50%;
        // }
    }

    .description {
        border-top: 20px solid $crown;
        border-bottom: 20px solid $crown;
        background: black;

        p {
            padding: 0;
            margin: 0;
        }
    }
}