@import '../../globalVariables.scss';


.chakra-container {

    .crown-gradient {
        background: linear-gradient(270deg, #010001, #130018, #32063f, #32063f, #130018, #010001);
        background-size: 1200% 1200%;

        -webkit-animation: thirdEye 30s ease infinite;
        -moz-animation: thirdEye 30s ease infinite;
        animation: thirdEye 30s ease infinite;

        @-webkit-keyframes thirdEye {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes thirdEye {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes thirdEye { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }

        padding: 0 90px;
    }

    height: 100vh;

    .home-title {
        background: url(./Images/pageBackground.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 57vh;
        width: 100%;
        padding-top: 30px;
    }

    .crown-symptoms {
        background: url(./Images/symptomsCrown.jpg);
        background-size: cover;
        background-position: top;
        background-attachment: fixed;

        .balanced {
            background: $Ocrown;
        }

        .unbalanced {
            background: $Ocrown;
        }
    }

    .crown-guidance {
        .guidance-title {
            background: linear-gradient(270deg, #010001, #130018, #32063f, #32063f, #130018, #010001);
            background-size: 1200% 1200%;

            -webkit-animation: thirdEye 30s ease infinite;
            -moz-animation: thirdEye 30s ease infinite;
            animation: thirdEye 30s ease infinite;

            @-webkit-keyframes thirdEye {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            @-moz-keyframes thirdEye {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            @keyframes thirdEye { 
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
        }
    }

    // .guidance {

    //     color: $about;
    //     background: url(./Images/divine.jpg);
    //     background-size: cover;
    //     background-position: center;
    //     background-attachment: fixed;

    //     .black {
    //         background: rgba(0,0,0,0.5);
    //     }

    //     .line-div {

    //         width: 30%;
    //         display: inline-block;
    //     }

    //     .guidance-title {
    //         width: 100%;
    //         background: black;
    //         color: $about;
    //         font-size: 22px;
    //         text-align: center;
    //         padding: 40px 0;

    //         h1 {
    //             letter-spacing: 10px;
    //         }

    //         p {
    //             letter-spacing: 1px;
    //             font-family: $font-secondary;
    //             font-size: 18px;
    //         }
    //     }

    //     .meditation {
    //         padding-top: 50px;
    //         padding-bottom: 20px;
    //         text-align: center;
    //         letter-spacing: 8px;

    //         .steps {
    //             display: flex;
    //             justify-content: space-around;
    //             align-items: flex-end;
    //             font-size: 12px;
    //             padding-top: 200px;
    //             padding-bottom: 20px;
    //             line-height: 2em;

    //             div {
    //                 width: 17%;
    //                 font-family: $font-secondary;
    //                 font-size: 18px;
    //                 text-align: center;
    //             }
    //         }

    //         p {
    //             padding: 0;
    //             margin: 0;
    //         }
    //     }
    // }

}