/************
rainbow animation
************/
.guidance {
  color: #f5f6f8;
  background: url(./Images/divine.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .guidance .black {
    background: rgba(0, 0, 0, 0.5); }
  .guidance .line-div {
    width: 30%;
    display: inline-block; }
  .guidance .guidance-title {
    width: 100%;
    color: #f5f6f8;
    font-size: 22px;
    text-align: center;
    padding: 40px 0; }
    .guidance .guidance-title h1 {
      letter-spacing: 10px; }
    .guidance .guidance-title p {
      letter-spacing: 1px;
      font-family: "Lato", sans-serif;
      font-size: 18px; }
  .guidance .meditation {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 8px; }
    .guidance .meditation .steps {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      font-size: 12px;
      padding-top: 200px;
      padding-bottom: 20px;
      line-height: 2em; }
      .guidance .meditation .steps div {
        width: 17%;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        text-align: center; }
    .guidance .meditation p {
      padding: 0;
      margin: 0; }
