/************
rainbow animation
************/
.heart-gradient {
  background: linear-gradient(270deg, #000502, #093e1e, #45001e, #45001e, #093e1e, #000502);
  background-size: 1200% 1200%;
  -webkit-animation: heart 30s ease infinite;
  -moz-animation: heart 30s ease infinite;
  animation: heart 30s ease infinite;
  padding: 0 60px; }

@-webkit-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.heart-symptoms {
  background: url(./Images/symptomsHeart.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .heart-symptoms .balanced {
    background: rgba(0, 82, 33, 0.4); }
  .heart-symptoms .unbalanced {
    background: rgba(0, 82, 33, 0.4); }

.heart-guidance .guidance-title {
  background: linear-gradient(270deg, #000502, #093e1e, #45001e, #45001e, #093e1e, #000502);
  background-size: 1200% 1200%;
  -webkit-animation: heart 30s ease infinite;
  -moz-animation: heart 30s ease infinite;
  animation: heart 30s ease infinite; }

@-webkit-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
