@import '../../globalVariables.scss';

.heart-title {
    .yoga {
        height: 59vh;
        position: relative;
        top: -325px;
        right: 0px;
        // opacity: 0.5;
    }
}

.heart-gradient {
    background: linear-gradient(270deg, #000502, #093e1e, #45001e, #45001e, #093e1e, #000502);
    background-size: 1200% 1200%;

    -webkit-animation: heart 30s ease infinite;
    -moz-animation: heart 30s ease infinite;
    animation: heart 30s ease infinite;

    @-webkit-keyframes heart {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes heart {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes heart { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    padding: 0 60px;

}

.heart-symptoms {
    background: url(./Images/symptomsHeart.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    .balanced {
        background: $Oheart;
    }

    .unbalanced {
        background: $Oheart;
    }
}

.heart-guidance {
    .guidance-title {
        background: linear-gradient(270deg, #000502, #093e1e, #45001e, #45001e, #093e1e, #000502);
        background-size: 1200% 1200%;

        -webkit-animation: heart 30s ease infinite;
        -moz-animation: heart 30s ease infinite;
        animation: heart 30s ease infinite;

        @-webkit-keyframes heart {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes heart {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes heart { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
    }
}