/************
rainbow animation
************/
.eye-gradient {
  background: linear-gradient(269deg, #050527, #10104b, #494993, #7878ba, #7878ba, #494993, #10104b, #050527);
  background-size: 1600% 1600%;
  -webkit-animation: crown 20s ease infinite;
  -moz-animation: crown 20s ease infinite;
  animation: crown 20s ease infinite;
  padding: 0 100px; }

@-webkit-keyframes crown {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes crown {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes crown {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.eye-symptoms .balanced {
  background: rgba(20, 21, 101, 0.4); }

.eye-symptoms .unbalanced {
  background: rgba(20, 21, 101, 0.4); }
