.third-eye-container {
  background: url(./Images/meditation.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: space-between; }
  .third-eye-container h1 {
    padding: 0;
    margin: 0; }
  .third-eye-container .yoga-video {
    padding: 10px;
    height: 97%;
    width: 50%;
    background: #141565;
    opacity: 0.4; }
