/************
rainbow animation
************/
.eye-title .yoga {
  height: 59vh;
  position: relative;
  top: -325px;
  right: 0px; }

.eye-gradient {
  background: linear-gradient(270deg, #020219, #020221, #090941, #090941, #020221, #020219);
  background-size: 1200% 1200%;
  -webkit-animation: thirdEye 30s ease infinite;
  -moz-animation: thirdEye 30s ease infinite;
  animation: thirdEye 30s ease infinite;
  padding: 0 100px; }

@-webkit-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.eye-symptoms {
  background: url(./Images/symptomsEye1.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .eye-symptoms .balanced {
    background: rgba(20, 21, 101, 0.4); }
  .eye-symptoms .unbalanced {
    background: rgba(20, 21, 101, 0.4); }

.eye-guidance .guidance-title {
  background: linear-gradient(270deg, #020219, #020221, #090941, #090941, #020221, #020219);
  background-size: 1200% 1200%;
  -webkit-animation: thirdEye 30s ease infinite;
  -moz-animation: thirdEye 30s ease infinite;
  animation: thirdEye 30s ease infinite; }

@-webkit-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
