@import '../../globalVariables.scss';
.sacral-gradient {
    background: linear-gradient(270deg, #1e0800, #431200, #621b01, #621b01, #431200, #1e0800);
    background-size: 1200% 1200%;

    -webkit-animation: sacral 30s ease infinite;
    -moz-animation: sacral 30s ease infinite;
    animation: sacral 30s ease infinite;

    @-webkit-keyframes sacral {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes sacral {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes sacral { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    
    padding: 0 40px;
}

.sacral-symptoms {
    background: url(./Images/symptomsSacral1.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    .balanced {
        background: $Osacral;
    }

    .unbalanced {
        background: $Osacral;
    }
}

.sacral-guidance {
    .guidance-title {
        background: linear-gradient(270deg, #1e0800, #431200, #621b01, #621b01, #431200, #1e0800);
        background-size: 1200% 1200%;

        -webkit-animation: sacral 30s ease infinite;
        -moz-animation: sacral 30s ease infinite;
        animation: sacral 30s ease infinite;

        @-webkit-keyframes sacral {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes sacral {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes sacral { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
    }
}