
body {
    box-sizing: border-box;
}

.box {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    height: 100%;
    /*border: solid palegoldenrod 20px;
    border-top: 0px;
    border-bottom: 0px;*/
}

.nav-title {
    font-size: 18px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    width: 80px;
}

p {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
