/*****************
Everything
******************/
.nav-container {
  /************
  chakra links
  ************/
  /****************
  landing-page link
  *****************/ }
  .nav-container .chakras {
    padding: 10px 0px;
    margin: 0;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    background: black;
    background-size: cover;
    letter-spacing: 10px; }
  .nav-container .chakra-links {
    box-sizing: border-box;
    padding: 10px;
    padding-right: 35px;
    padding-left: 35px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background: #f5f6f8; }
    .nav-container .chakra-links img {
      width: 100px; }
    .nav-container .chakra-links img:hover {
      transform: scale(1.1); }
  .nav-container .landing-link {
    width: 100%; }
    .nav-container .landing-link h1 {
      padding: 10px 0px;
      margin: 0;
      color: white;
      font-size: 12px;
      text-align: center;
      background: black;
      background-size: cover;
      letter-spacing: 10px; }
    .nav-container .landing-link h1:hover {
      letter-spacing: 20px; }
