body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.landing-container {
  background: url(./Images/landingBackground.jpg);
  background-size: cover;
  background-position: right bottom;
  border: 1px solid red;
  height: 100vh;
  width: 100vw; }

.box {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  height: 100%;
  /*border-width: 20px;
    border-style: solid;*/
  /*border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#4C065C), to(#8B0304)) 1 100%;*/
  /*-webkit-border-image: 
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;*/ }

.nav-title {
  font-size: 18px;
  color: white;
  font-family: 'Josefin Sans', sans-serif; }

img {
  width: 80px; }

p {
  color: white;
  font-family: 'Josefin Sans', sans-serif; }

.crown-container {
  background: black;
  border: 1px solid orange;
  height: 100vh; }

.root-container {
  background: red; }

.container {
  display: flex; }

.routes {
  width: 85%;
  height: 100vh;
  display: inline-block; }

.nav {
  width: 15%;
  display: inline-block; }
