body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/************
rainbow animation
************/
.description {
  padding: 10px;
  color: #d8d8d8;
  text-align: center; }
  .description .line-div {
    width: 33%;
    display: inline-block; }
  .description h2 {
    padding: 20px 0 0 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 10px; }
  .description h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 7px;
    font-family: "Lato", sans-serif; }
  .description .words {
    padding: 20px 0; }
    .description .words div {
      display: block;
      padding: 2px;
      font-family: "Lato", sans-serif;
      line-height: 1.5em;
      letter-spacing: 1px; }

/************
rainbow animation
************/
.symptoms {
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  color: #d8d8d8;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: lowercase; }
  .symptoms h1 {
    margin: 0;
    padding: 30px 0 5px 0;
    font-size: 28px; }
  .symptoms ul {
    margin: 0;
    list-style-type: none;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    line-height: 1.5em; }
  .symptoms hr {
    width: 70%; }
  .symptoms .balanced {
    width: 30%;
    height: 50%;
    text-align: center;
    padding-top: 10px; }
  .symptoms .unbalanced {
    width: 30%;
    height: 50%;
    text-align: center; }

/************
rainbow animation
************/
.guidance {
  color: #d8d8d8;
  background: url(./Images/divine.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .guidance .black {
    background: rgba(0, 0, 0, 0.5); }
  .guidance .line-div {
    width: 30%;
    display: inline-block; }
  .guidance .guidance-title {
    width: 100%;
    color: #d8d8d8;
    font-size: 22px;
    text-align: center;
    padding: 40px 0; }
    .guidance .guidance-title h1 {
      letter-spacing: 10px; }
    .guidance .guidance-title p {
      letter-spacing: 1px;
      font-family: "Lato", sans-serif;
      font-size: 18px; }
  .guidance .meditation {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 8px; }
    .guidance .meditation .steps {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      font-size: 12px;
      padding-top: 200px;
      padding-bottom: 20px;
      line-height: 2em; }
      .guidance .meditation .steps div {
        width: 17%;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        text-align: center; }
    .guidance .meditation p {
      padding: 0;
      margin: 0; }

/************
rainbow animation
************/
.landing-container {
  box-sizing: border-box;
  background: black;
  background-size: cover;
  background-position: right bottom;
  height: 85vh;
  width: 100vw;
  padding: 6px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: white; }
  .landing-container .chakra-box {
    padding-top: 10px;
    margin: 7px;
    height: 95%;
    width: 18%;
    text-align: center;
    opacity: 0.5; }
  .landing-container .chakra-box:hover {
    opacity: 1;
    transform: scale(1.05); }
  .landing-container .root {
    background: url(./Images/rootGalaxy.jpg);
    background-size: cover; }
  .landing-container .sacral {
    background: url(./Images/sacralGalaxy.jpg);
    background-size: cover;
    background-position: right; }
  .landing-container .solar-plexus {
    background: url(./Images/solarGalaxy.jpg);
    background-size: cover;
    background-position: right; }
  .landing-container .heart {
    background: url(./Images/heartGalaxy.jpg);
    background-size: cover; }
  .landing-container .throat {
    background: url(./Images/throatGalaxy1.jpg);
    background-size: cover; }
  .landing-container .third-eye {
    background: url(./Images/thirdEyeGalaxy.jpg); }
  .landing-container .crown {
    background: url(./Images/crownGalaxy.png); }

.animate {
  position: fixed;
  z-index: 50; }

/************
rainbow animation
************/
/*****************
Everything
******************/
.nav-container {
  /************
  chakra links
  ************/
  /****************
  landing-page link
  *****************/ }
  .nav-container .chakras {
    padding: 20px 0px;
    margin: 0;
    color: #d8d8d8;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    background: black;
    background-size: cover;
    letter-spacing: 10px; }
  .nav-container .chakra-links {
    box-sizing: border-box;
    padding: 10px;
    padding-right: 55px;
    padding-left: 55px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background: #d8d8d8; }
    .nav-container .chakra-links img {
      width: 100px; }
    .nav-container .chakra-links img:hover {
      transform: scale(1.1); }
  .nav-container .landing-link {
    width: 100%; }
    .nav-container .landing-link h1 {
      padding: 10px 0px;
      margin: 0;
      color: #d8d8d8;
      font-size: 12px;
      text-align: center;
      background: black;
      background-size: cover;
      letter-spacing: 10px; }
    .nav-container .landing-link h1:hover {
      letter-spacing: 20px; }

/************
rainbow animation
************/
.chakra-container {
  height: 100vh; }
  .chakra-container .crown-gradient {
    background: linear-gradient(270deg, #010001, #130018, #32063f, #32063f, #130018, #010001);
    background-size: 1200% 1200%;
    -webkit-animation: thirdEye 30s ease infinite;
    -moz-animation: thirdEye 30s ease infinite;
    animation: thirdEye 30s ease infinite;
    padding: 0 90px; }

@-webkit-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  .chakra-container .home-title {
    background: url(./Images/pageBackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 57vh;
    width: 100%;
    padding-top: 30px;
    color: linear-gradient(135deg, red, blue); }
  .chakra-container .crown-symptoms {
    background: url(./Images/symptomsCrown.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed; }
    .chakra-container .crown-symptoms .balanced {
      background: rgba(76, 6, 92, 0.4); }
    .chakra-container .crown-symptoms .unbalanced {
      background: rgba(76, 6, 92, 0.4); }
  .chakra-container .crown-guidance .guidance-title {
    background: linear-gradient(270deg, #010001, #130018, #32063f, #32063f, #130018, #010001);
    background-size: 1200% 1200%;
    -webkit-animation: thirdEye 30s ease infinite;
    -moz-animation: thirdEye 30s ease infinite;
    animation: thirdEye 30s ease infinite; }

@-webkit-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/************
rainbow animation
************/
.eye-gradient {
  background: linear-gradient(270deg, #020219, #020221, #090941, #090941, #020221, #020219);
  background-size: 1200% 1200%;
  -webkit-animation: thirdEye 30s ease infinite;
  -moz-animation: thirdEye 30s ease infinite;
  animation: thirdEye 30s ease infinite;
  padding: 0 100px; }

@-webkit-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.eye-symptoms {
  background: url(./Images/symptomsEye1.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .eye-symptoms .balanced {
    background: rgba(20, 21, 101, 0.4); }
  .eye-symptoms .unbalanced {
    background: rgba(20, 21, 101, 0.4); }

.eye-guidance .guidance-title {
  background: linear-gradient(270deg, #020219, #020221, #090941, #090941, #020221, #020219);
  background-size: 1200% 1200%;
  -webkit-animation: thirdEye 30s ease infinite;
  -moz-animation: thirdEye 30s ease infinite;
  animation: thirdEye 30s ease infinite; }

@-webkit-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes thirdEye {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/************
rainbow animation
************/
.throat-gradient {
  background: linear-gradient(270deg, #00070a, #00161f, #012735, #02374b, #02374b, #02374b, #012735, #00161f, #00070a);
  background-size: 1600% 1600%;
  -webkit-animation: heart 30s ease infinite;
  -moz-animation: heart 30s ease infinite;
  animation: heart 30s ease infinite; }

@-webkit-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.throat-symptoms {
  background: url(./Images/symptomsThroat.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .throat-symptoms .balanced {
    background: rgba(6, 167, 225, 0.4); }
  .throat-symptoms .unbalanced {
    background: rgba(6, 167, 225, 0.4); }

.throat-guidance .guidance-title {
  background: linear-gradient(270deg, #00070a, #00161f, #012735, #02374b, #02374b, #02374b, #012735, #00161f, #00070a);
  background-size: 1600% 1600%;
  -webkit-animation: heart 30s ease infinite;
  -moz-animation: heart 30s ease infinite;
  animation: heart 30s ease infinite; }

@-webkit-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/************
rainbow animation
************/
.heart-gradient {
  background: linear-gradient(270deg, #000502, #093e1e, #45001e, #45001e, #093e1e, #000502);
  background-size: 1200% 1200%;
  -webkit-animation: heart 30s ease infinite;
  -moz-animation: heart 30s ease infinite;
  animation: heart 30s ease infinite;
  padding: 0 60px; }

@-webkit-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.heart-symptoms {
  background: url(./Images/symptomsHeart.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .heart-symptoms .balanced {
    background: rgba(0, 82, 33, 0.4); }
  .heart-symptoms .unbalanced {
    background: rgba(0, 82, 33, 0.4); }

.heart-guidance .guidance-title {
  background: linear-gradient(270deg, #000502, #093e1e, #45001e, #45001e, #093e1e, #000502);
  background-size: 1200% 1200%;
  -webkit-animation: heart 30s ease infinite;
  -moz-animation: heart 30s ease infinite;
  animation: heart 30s ease infinite; }

@-webkit-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/************
rainbow animation
************/
.solar-gradient {
  background: linear-gradient(270deg, #2c2500, #5f5209, #D3A600, #D3A600, #5f5209, #2c2500);
  background-size: 1200% 1200%;
  -webkit-animation: solar 30s ease infinite;
  -moz-animation: solar 30s ease infinite;
  animation: solar 30s ease infinite;
  padding: 0 100px; }

@-webkit-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.solar-symptoms {
  background: url(./Images/symptomsSolar.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .solar-symptoms .balanced {
    background: rgba(223, 191, 22, 0.4); }
  .solar-symptoms .unbalanced {
    background: rgba(223, 191, 22, 0.4); }

.solar-guidance .guidance-title {
  background: linear-gradient(270deg, #2c2500, #5f5209, #D3A600, #D3A600, #5f5209, #2c2500);
  background-size: 1200% 1200%;
  -webkit-animation: solar 30s ease infinite;
  -moz-animation: solar 30s ease infinite;
  animation: solar 30s ease infinite; }

@-webkit-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes solar {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/************
rainbow animation
************/
.sacral-gradient {
  background: linear-gradient(270deg, #1e0800, #431200, #621b01, #621b01, #431200, #1e0800);
  background-size: 1200% 1200%;
  -webkit-animation: sacral 30s ease infinite;
  -moz-animation: sacral 30s ease infinite;
  animation: sacral 30s ease infinite;
  padding: 0 40px; }

@-webkit-keyframes sacral {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes sacral {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes sacral {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.sacral-symptoms {
  background: url(./Images/symptomsSacral1.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .sacral-symptoms .balanced {
    background: rgba(218, 81, 31, 0.4); }
  .sacral-symptoms .unbalanced {
    background: rgba(218, 81, 31, 0.4); }

.sacral-guidance .guidance-title {
  background: linear-gradient(270deg, #1e0800, #431200, #621b01, #621b01, #431200, #1e0800);
  background-size: 1200% 1200%;
  -webkit-animation: sacral 30s ease infinite;
  -moz-animation: sacral 30s ease infinite;
  animation: sacral 30s ease infinite; }

@-webkit-keyframes sacral {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes sacral {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes sacral {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/************
rainbow animation
************/
.root-gradient {
  background: linear-gradient(270deg, #180000, #340000, #570000, #570000, #340000, #180000);
  background-size: 1200% 1200%;
  -webkit-animation: root 30s ease infinite;
  -moz-animation: root 30s ease infinite;
  animation: root 30s ease infinite; }

@-webkit-keyframes root {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes root {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes root {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.root-symptoms {
  background: url(./Images/symptomsRoot.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .root-symptoms .balanced {
    background: rgba(139, 3, 4, 0.4); }
  .root-symptoms .unbalanced {
    background: rgba(139, 3, 4, 0.4); }

.root-guidance .guidance-title {
  background: linear-gradient(270deg, #180000, #340000, #570000, #570000, #340000, #180000);
  background-size: 1200% 1200%;
  -webkit-animation: root 30s ease infinite;
  -moz-animation: root 30s ease infinite;
  animation: root 30s ease infinite; }

@-webkit-keyframes root {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes root {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes root {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

p {
  font-family: 'Courgette';
  font-size: 72px;
  font-weight: 700;
  padding: 70px 0 0 205px;
  position: relative;
  z-index: 10; }

.app-container {
  font-family: "Josefin Sans", sans-serif; }
