body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.landing-container {
  box-sizing: border-box;
  background: black;
  background-size: cover;
  background-position: right bottom;
  height: 82vh;
  width: 100vw;
  padding: 6px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: white; }
  .landing-container .chakra-box {
    padding-top: 10px;
    margin: 7px;
    height: 95%;
    width: 18%;
    text-align: center;
    opacity: 0.5; }
  .landing-container .chakra-box:hover {
    opacity: 1;
    transform: scale(1.05); }
  .landing-container .root {
    background: url(./Images/rootGalaxy.jpg);
    background-size: cover; }
  .landing-container .sacral {
    background: url(./Images/sacralGalaxy.jpg);
    background-size: cover;
    background-position: right; }
  .landing-container .solar-plexus {
    background: url(./Images/solarGalaxy.jpg);
    background-size: cover;
    background-position: right; }
  .landing-container .heart {
    background: url(./Images/heartGalaxy.jpg);
    background-size: cover; }
  .landing-container .throat {
    background: url(./Images/throatGalaxy1.jpg);
    background-size: cover; }
  .landing-container .third-eye {
    background: url(./Images/thirdEyeGalaxy.jpg); }
  .landing-container .crown {
    background: url(./Images/crownGalaxy.png); }

/*****************
Everything
******************/
.nav-container {
  /************
  chakra links
  ************/
  /****************
  landing-page link
  *****************/ }
  .nav-container .chakras {
    padding: 10px 0px;
    margin: 0;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    background: black;
    background-size: cover;
    letter-spacing: 10px; }
  .nav-container .chakra-links {
    box-sizing: border-box;
    padding: 10px;
    padding-right: 35px;
    padding-left: 35px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background: #f5f6f8; }
    .nav-container .chakra-links img {
      width: 100px; }
    .nav-container .chakra-links img:hover {
      transform: scale(1.1); }
  .nav-container .landing-link {
    width: 100%; }
    .nav-container .landing-link h1 {
      padding: 10px 0px;
      margin: 0;
      color: white;
      font-size: 12px;
      text-align: center;
      background: black;
      background-size: cover;
      letter-spacing: 10px; }
    .nav-container .landing-link h1:hover {
      letter-spacing: 20px; }

.crown-container {
  height: 100vh;
  font-family: "Lato", sans-serif; }
  .crown-container .about {
    background: url(./Images/pageBackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 81vh;
    width: 100%;
    padding-top: 30px;
    padding-left: 30px; }
    .crown-container .about .about-words {
      width: 15%;
      height: 30%;
      color: rgba(245, 246, 248, 0.8);
      position: relative; }
      .crown-container .about .about-words h1 {
        padding: 0;
        margin: 0;
        text-transform: uppercase; }
  .crown-container .description {
    border-top: 20px solid #4C065C;
    border-bottom: 20px solid #4C065C;
    background: black; }
    .crown-container .description p {
      padding: 0;
      margin: 0; }

.third-eye-container {
  background: url(./Images/meditation.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: space-between; }
  .third-eye-container h1 {
    padding: 0;
    margin: 0; }
  .third-eye-container .yoga-video {
    padding: 10px;
    height: 97%;
    width: 50%;
    background: #141565;
    opacity: 0.4; }

.throat-container {
  height: 100vh;
  background: url(./Images/meditation.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px;
  display: flex;
  justify-content: space-between; }
  .throat-container h1 {
    padding: 0;
    margin: 0; }
  .throat-container .yoga-video {
    padding: 10px;
    height: 97%;
    width: 50%;
    background: #06A7E1;
    opacity: 0.4; }

.heart-container {
  background: url(./Images/meditation.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: space-between; }
  .heart-container h1 {
    padding: 0;
    margin: 0; }
  .heart-container .yoga-video {
    padding: 10px;
    height: 97%;
    width: 50%;
    background: #005221;
    opacity: 0.4; }

.solar-plexus-container {
  background: url(./Images/meditation.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: space-between; }
  .solar-plexus-container h1 {
    padding: 0;
    margin: 0; }
  .solar-plexus-container .yoga-video {
    padding: 10px;
    height: 97%;
    width: 50%;
    background: #DFBF16;
    opacity: 0.4; }

.sacral-container {
  background: url(./Images/meditation.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: space-between; }
  .sacral-container h1 {
    padding: 0;
    margin: 0; }
  .sacral-container .yoga-video {
    padding: 10px;
    height: 97%;
    width: 50%;
    background: #DA511F;
    opacity: 0.4; }

.root-container {
  background: url(./Images/meditation.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: space-between; }
  .root-container h1 {
    padding: 0;
    margin: 0; }
  .root-container .yoga-video {
    padding: 10px;
    height: 97%;
    width: 50%;
    background: #8B0304;
    opacity: 0.4; }

.app-container {
  font-family: "Josefin Sans", sans-serif; }
