$crown: #4C065C;
$Ocrown: rgba(76,6,92,0.4);
$eye: #141565;
$throat: #06A7E1;
$heart: #005221;
$solar: #DFBF16;
$sacral: #DA511F;
$root: #8B0304;
$Oabout: rgba(245, 246, 248, 0.8);
$about: rgb(245, 246, 248);


$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;


/************
rainbow animation
************/
        // background: linear-gradient(129deg, #4c065c, #141565, #06a7e1, #005221, #dfbf16, #da511f, #8b0304);
        // background-size: 1400% 1400%;

        // -webkit-animation: chakraRainbow 31s ease infinite;
        // -moz-animation: chakraRainbow 31s ease infinite;
        // animation: chakraRainbow 31s ease infinite;

        // @-webkit-keyframes chakraRainbow {
        //     0%{background-position:0% 50%}
        //     50%{background-position:100% 50%}
        //     100%{background-position:0% 50%}
        // }
        // @-moz-keyframes chakraRainbow {
        //     0%{background-position:0% 50%}
        //     50%{background-position:100% 50%}
        //     100%{background-position:0% 50%}
        // }
        // @keyframes chakraRainbow { 
        //     0%{background-position:0% 50%}
        //     50%{background-position:100% 50%}
        //     100%{background-position:0% 50%}
        // }


// Josefin+Sans:400,700|Lato:300,400