$crown: #4C065C;
$eye: #141565;
$throat: #06A7E1;
$heart: #005221;
$solar: #DFBF16;
$sacral: #DA511F;
$root: #8B0304;


$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;


// Josefin+Sans:400,700|Lato:300,400