/************
rainbow animation
************/
.throat-gradient {
  background: linear-gradient(269deg, #012735, #026287, #40b7e5, #ade0f4, #ade0f4, #40b7e5, #026287, #012735);
  background-size: 1600% 1600%;
  -webkit-animation: crown 20s ease infinite;
  -moz-animation: crown 20s ease infinite;
  animation: crown 20s ease infinite; }

@-webkit-keyframes crown {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes crown {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes crown {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.throat-symptoms .balanced {
  background: rgba(6, 167, 225, 0.4); }

.throat-symptoms .unbalanced {
  background: rgba(6, 167, 225, 0.4); }
