/************
rainbow animation
************/
.throat-title .yoga {
  height: 59vh;
  position: relative;
  top: -325px;
  right: -10px; }

.throat-gradient {
  background: linear-gradient(270deg, #00070a, #00161f, #012735, #02374b, #02374b, #02374b, #012735, #00161f, #00070a);
  background-size: 1600% 1600%;
  -webkit-animation: heart 30s ease infinite;
  -moz-animation: heart 30s ease infinite;
  animation: heart 30s ease infinite; }

@-webkit-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.throat-symptoms {
  background: url(./Images/symptomsThroat.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .throat-symptoms .balanced {
    background: rgba(6, 167, 225, 0.4); }
  .throat-symptoms .unbalanced {
    background: rgba(6, 167, 225, 0.4); }

.throat-guidance .guidance-title {
  background: linear-gradient(270deg, #00070a, #00161f, #012735, #02374b, #02374b, #02374b, #012735, #00161f, #00070a);
  background-size: 1600% 1600%;
  -webkit-animation: heart 30s ease infinite;
  -moz-animation: heart 30s ease infinite;
  animation: heart 30s ease infinite; }

@-webkit-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes heart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
